<!DOCTYPE html>
<html>
<head>
<title>Slate</title>
<meta name="viewport" content="initial-scale=0.08, user-scalable=no" />

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tech.css' %}"/>

<script>
    artboard_url_token = "{{ url_token }}";
    slate_home = "{% url 'slate.views.home' %}".replace(/\/$/, '');
</script>

</head>
<body>
{% csrf_token %}
<div id="canvas_container">
    <canvas id="artboard"></canvas>
    <canvas id="draw_surface" onclick="void(0)"></canvas>
</div>

<div id="title">This is the title -- {{ name }}</div>
<div id="shape_controls">
Shape controls:
    <br />
    Line width:
        <br /><label><input type="radio" name="shape_line_width" value="1">Thin</label>
        <br /><label><input type="radio" name="shape_line_width" value="4" checked="checked">Medium</label>
        <br /><label><input type="radio" name="shape_line_width" value="10">Thick</label>

    <Br />
    <label>Border color: <input type="text" name="shape_border_color" value="black"/></label>
    <br />
    <label>Fill color: <input type="text" name="shape_fill_color" value="rgba(255, 255, 0, .1)"/></label>
    <br />
    <button name="delete_shape">Delete Shape</button>
</div>
<div id="text_controls">
Text controls:
    <br />
    Size:
        <br /><label><input type="radio" name="text_font_size" value="12">Small</label>
        <br /><label><input type="radio" name="text_font_size" value="24" checked="checked">Medium</label>
        <br /><label><input type="radio" name="text_font_size" value="48">Large</label>

        <br/>
        <label>Color: <input type="text" name="text_color" value="black"/></label>
</div>

<div id="sidebar">
    <div>
        Actions<br />
        <input type="radio" name="board_actions" value="autoshape" checked="checked">Draw autoshape <br />
        <input type="radio" name="board_actions" value="rectangle">Draw rectangle <br />
        <input type="radio" name="board_actions" value="text">Write something<br />
        ... <br />
        <input type="radio" name="board_actions" value="select">Select an object<br />
        <input type="radio" name="board_actions" value="pan">Move around canvas<br />


    </div>
    <div id="layers_sidebar">
        Layers
        <div>
            <button id="add_layer">Add Layer</button>
        </div>
    </div>
    <div>
        Preview
    </div>
</div>

<div style="position: absolute; left: 0px; top: 0px; bottom: 0px; right: 0px; background: white;" id="loading_cover">
Loading...
</div>

<!-- this span is for testing string lengths -->
<span id="offscreen_text_test" style="visibility: hidden">TEST</span>

<script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/handlebars.js' %}"></script>
<script src="{% static 'js/handlebars_util.js' %}"></script>
<script src="{% static 'js/autoshape.js' %}"></script>
<script src="{% static 'js/artboard.js' %}"></script>
<script src="{% static 'js/layers.js' %}"></script>
<script src="{% static 'js/drawing.js' %}"></script>
<script src="{% static 'js/move_shape.js' %}"></script>
<script src="{% static 'js/rotate_shape.js' %}"></script>
<script src="{% static 'js/resize_shape.js' %}"></script>
<script src="{% static 'js/select.js' %}"></script>
<script src="{% static 'js/shapes.js' %}"></script>
<script src="{% static 'js/shape/bezier.js' %}"></script>
<script src="{% static 'js/shape/polygon.js' %}"></script>
<script src="{% static 'js/shape/circle.js' %}"></script>
<script src="{% static 'js/shape/line.js' %}"></script>
<script src="{% static 'js/shape/text.js' %}"></script>

<script src="{% static 'js/events.js' %}"></script>
<script src="{% static 'js/attributes.js' %}"></script>

{% include "handlebars/layer/sidebar.html" %}
</body>
</html>
