{% extends "base_slate.html" %}
{% load static %}

{% block content %}

<script>
    artboard_url_token = "{{ url_token }}";
    slate_home = "{% url 'slate.views.home' %}".replace(/\/$/, '');
</script>

{% csrf_token %}
<div id="canvas_container">
    <canvas id="artboard"></canvas>
    <canvas id="draw_surface" onclick="void(0)"></canvas>
</div>
<span style="position:absolute; top:5px; left:5px;"><a href="/"><i class="icon-chevron-left"></i> Back</a></span> 
<div id="title"><h1>{{ name }}</h1></div>
<div id="shape_controls" class="btn-toolbar">
	<div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default"><input type="radio" name="shape_line_width" value="1">Thin</label>
        <label class="btn btn-default"><input type="radio" name="shape_line_width" value="4" checked="checked">Medium</label>
		<label class="btn btn-default"><input type="radio" name="shape_line_width" value="10">Thick</label>
	</div>
	<div class="pull-left" style="padding-left:5px;">
		<label><input type="text" class="form-control" name="shape_border_color" placeholder="color"/></label>
		<label><input type="text" class="form-control" name="shape_fill_color" placeholder="Fill"/></label>
		<button name="delete_shape" class="btn btn-link"><i class="delete-layer icon-trash"></i></button>
	</div>
</div>
<!-- text controls -->
<div id="text_controls" class="btn-toolbar">
	<div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default btn-small"><input type="radio" name="text_font_size" value="12"><i class="icon-font icon-smaller"></i></label>
        <label class="btn btn-default"><input type="radio" name="text_font_size" value="24" checked="checked"><i class="icon-font"></i></label>
        <label class="btn btn-default"><input type="radio" name="text_font_size" value="48"><i class="icon-font icon-large"></i></label>       
	</div>
	<div class="col-lg-4">
	 <label><input type="text" class="form-control" name="text_color" placeholder="color"/></label>
	</div>
</div>

<div id="sidebar">
    <div>
		<div class="btn-group-vertical" data-toggle="buttons">
		<label class="btn btn-info"><input type="radio" name="board_actions" id="action_autoshape" value="autoshape" checked="checked"><i class="icon-pencil"></i>	</label>
		<label class="btn btn-info"><input type="radio" name="board_actions" id="action_rectangle" value="rectangle"><i class="icon-unchecked"></i></label>
		<label class="btn btn-info"><input type="radio" name="board_actions" id="action_text" value="text"><i class="icon-font"></i></label>
		<label class="btn btn-info"><input type="radio" name="board_actions" id="action_select" value="select"><i class="icon-hand-up"></i></label>
		<label class="btn btn-info"><input type="radio" name="board_actions" id="action_move" value="pan"><i class="icon-move"></i></label>	
		</div>
    </div>
    
    <div id="layers_sidebar">
	    <div id="layers_header">
	     	<div class="pull-left"><h2>Layers</h2></div>
		 	<div class="new-layer pull-right"><button type="button" class="btn btn-link btn-sm"><i id="add_layer" class="new-layer-icon icon-plus icon-large"></i></button></div>   
	    </div>     
	    <div id="layers_sidebar_sortable">
	    </div>
    </div>
  <!--  <div>
        Preview
    </div> -->
</div>

<div style="position:fixed; top:50%; left: 50%; background: white;" id="loading_cover">
<i class="icon-spinner icon-spin icon-4x"></i>
</div>

{% include "handlebars/layer/sidebar.html" %}

<!-- this span is for testing string lengths -->
<span id="offscreen_text_test" style="visibility: hidden">TEST</span>

<script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script src="{% static 'js/handlebars.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/handlebars_util.js' %}"></script>
<script src="{% static 'js/autoshape.js' %}"></script>
<script src="{% static 'js/artboard.js' %}"></script>
<script src="{% static 'js/layers.js' %}"></script>
<script src="{% static 'js/drawing.js' %}"></script>
<script src="{% static 'js/move_shape.js' %}"></script>
<script src="{% static 'js/rotate_shape.js' %}"></script>
<script src="{% static 'js/resize_shape.js' %}"></script>
<script src="{% static 'js/select.js' %}"></script>
<script src="{% static 'js/shapes.js' %}"></script>
<script src="{% static 'js/shape/bezier.js' %}"></script>
<script src="{% static 'js/shape/polygon.js' %}"></script>
<script src="{% static 'js/shape/circle.js' %}"></script>
<script src="{% static 'js/shape/line.js' %}"></script>
<script src="{% static 'js/shape/text.js' %}"></script>

<script src="{% static 'js/events.js' %}"></script>
<script src="{% static 'js/attributes.js' %}"></script>


{% endblock content %}
