<!DOCTYPE html>
<html>
<head>
<title>Slate</title>
<meta name="viewport" content="initial-scale=0.08, user-scalable=no" />

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/tech.css"/>

<script>
    artboard_url_token = "{{ url_token }}";
    slate_home = "{% url slate.views.home %}".replace(/\/$/, '');
</script>

</head>
<body>
{% csrf_token %}
<div id="canvas_container">
    <canvas id="artboard"></canvas>
    <canvas id="draw_surface" onclick="void(0)"></canvas>
</div>
<div id="scroller"></div>
<div id="title">This is the title -- {{ name }}</div>
<div id="sidebar">
    <div>
        Actions<br />
        <input type="radio" name="board_actions" value="autoshape" checked="checked">Draw autoshape <br />
        <input type="radio" name="board_actions" value="rectangle">Draw rectangle <br />
        <input type="radio" name="board_actions" value="text">Write something<br />
        ... <br />
        <input type="radio" name="board_actions" value="select">Select an object<br />
        <input type="radio" name="board_actions" value="pan">Move around canvas<br />


    </div>
    <div id="layers_sidebar">
        Layers
        <div>
            <button id="add_layer">Add Layer</button>
        </div>
    </div>
    <div>
        Preview
    </div>
</div>

<div style="position: absolute; left: 0px; top: 0px; bottom: 0px; right: 0px; background: white;" id="loading_cover">
Loading...
</div>

<!-- this span is for testing string lengths -->
<span id="offscreen_text_test" style="visibility: hidden">TEST</span>

<script src="{{STATIC_URL}}js/jquery-2.0.3.min.js"></script>
<script src="{{STATIC_URL}}js/app.js"></script>
<script src="{{STATIC_URL}}js/handlebars.js"></script>
<script src="{{STATIC_URL}}js/handlebars_util.js"></script>
<script src="{{STATIC_URL}}js/autoshape.js"></script>
<script src="{{STATIC_URL}}js/artboard.js"></script>
<script src="{{STATIC_URL}}js/layers.js"></script>
<script src="{{STATIC_URL}}js/drawing.js"></script>
<script src="{{STATIC_URL}}js/select.js"></script>
<script src="{{STATIC_URL}}js/shapes.js"></script>
<script src="{{STATIC_URL}}js/events.js"></script>

{% include "handlebars/layer/sidebar.html" %}
</body>
</html>
