<!DOCTYPE html>
<html>
<head>
<title>Slate</title>
<meta name="viewport" content="initial-scale=0.08, user-scalable=no" />

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tech.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/slate.css' %}"/>

</head>
<body>
<header>
<h1 style="visibility:hidden;">Slate</h1>
</header>
<div class="container">

    {% block content %}
    {% endblock %}

<!-- including bootstrap js combined below -->
<script src="{% static 'js/bootstrap.js' %}"</script>

</div>
</body>
</html>
