<!DOCTYPE html>
<html>
<head>
<title>Slate</title>
<meta name="viewport" content="initial-scale=0.08, user-scalable=no" />

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tech.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/slate.css' %}"/>

<script>
    artboard_url_token = "{{ url_token }}";
    slate_home = "{% url 'slate.views.home' %}".replace(/\/$/, '');
</script>

</head>
<body>
<header>
<h1 style="visibility:hidden;">Slate</h1>
</header>
<div class="container">

    {% block content %}
    {% endblock %}

<script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/handlebars.js' %}"></script>
<script src="{% static 'js/handlebars_util.js' %}"></script>
<!-- including bootstrap js combined below -->
<script src="{% static 'js/bootstrap.js' %}"</script>
<script src="{% static 'js/autoshape.js' %}"></script>
<script src="{% static 'js/artboard.js' %}"></script>
<script src="{% static 'js/layers.js' %}"></script>
<script src="{% static 'js/drawing.js' %}"></script>
<script src="{% static 'js/move_shape.js' %}"></script>
<script src="{% static 'js/rotate_shape.js' %}"></script>
<script src="{% static 'js/resize_shape.js' %}"></script>
<script src="{% static 'js/select.js' %}"></script>
<script src="{% static 'js/shapes.js' %}"></script>
<script src="{% static 'js/shape/bezier.js' %}"></script>
<script src="{% static 'js/shape/polygon.js' %}"></script>
<script src="{% static 'js/shape/circle.js' %}"></script>
<script src="{% static 'js/shape/line.js' %}"></script>
<script src="{% static 'js/shape/text.js' %}"></script>

<script src="{% static 'js/events.js' %}"></script>
<script src="{% static 'js/attributes.js' %}"></script>


{% include "handlebars/layer/sidebar.html" %}
</div>
</body>
</html>
