<style>
    #title { position: fixed; top: 0px; left: 0px; width: 100%; height: 40px; }
    #sidebar { position: fixed; top: 0px; right: 0px; width: 200px; height: 100%; }
    #canvas_container { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; }
</style>
<div id="canvas_container"><canvas id="artboard"></canvas></div>
<div id="scroller"></div>
<div id="title">This is the title</div>
<div id="sidebar">
    <div>
        Actions
    </div>
    <div>
        Layers
    </div>
    <div>
        Preview
    </div>
</div>

<script src="{{STATIC_URL}}js/autoshape.js"></script>


