<style>
</style>

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/tech.css"/>

<div id="canvas_container">
    <canvas id="artboard"></canvas>
    <canvas id="draw_surface"></canvas>
</div>
<div id="scroller"></div>
<div id="title">This is the title</div>
<div id="sidebar">
    <div>
        Actions<br />
        <input type="radio" name="board_actions" value="autoshape" checked="checked">Draw autoshape <br />
        <input type="radio" name="board_actions" value="rectangle">Draw rectangle <br />
        ... <br />
        <input type="radio" name="board_actions" value="select">Select an object<br />
        <input type="radio" name="board_actions" value="pan">Move around canvas<br />


    </div>
    <div id="layers_sidebar">
        Layers
        <div>
            <button id="add_layer">Add Layer</button>
        </div>
    </div>
    <div>
        Preview
    </div>
</div>

<script src="{{STATIC_URL}}js/jquery-2.0.3.min.js"></script>
<script src="{{STATIC_URL}}js/app.js"></script>
<script src="{{STATIC_URL}}js/handlebars.js"></script>
<script src="{{STATIC_URL}}js/handlebars_util.js"></script>
<script src="{{STATIC_URL}}js/autoshape.js"></script>
<script src="{{STATIC_URL}}js/layers.js"></script>
<script src="{{STATIC_URL}}js/drawing.js"></script>
<script src="{{STATIC_URL}}js/select.js"></script>
<script src="{{STATIC_URL}}js/shapes.js"></script>

{% include "handlebars/layer/sidebar.html" %}

